


body{
    background-color: rgb(168,93,48);        
    width: auto;
    height: auto;
    background-image: url(/imagenes/subtle-prism.png);
    
    }
    div {
        background-color: rgb(255, 255, 255);
        border: 1px solid black;
    }
    
    h1{
        text-align: center;
        font-family: 'Patrick Hand', cursive;
        font-family: 'Patrick Hand SC', cursive;
    }
    h2{
        text-align: center;
    }
    #locales{
        text-align: left;
        font-family: 'Patrick Hand', cursive;
        font-family: 'Patrick Hand SC', cursive;
    }
    p{
        margin: 10%;
        text-decoration: wavy;
        color: rgb(117, 17, 34);
    }
    .anav{
        box-sizing: border-box;
        color:rgb(13, 143, 100);
        text-decoration: none;
        font-size: 30px;
        border-radius: 20%;
        margin: 5px;
        display: inline-block;
        border: 2px solid rgb(113, 61, 29);
        border-bottom-left-radius: 0px; 
        border-bottom-right-radius: 0px; 
        }

        .patita {
            display: inline-block;
            width: 20px;
            height: 20px;
          }
          
          .garrita {
            background-image: url(/imagenes/pata-gato.png);
            background-repeat: repeat;
            display: inline-block;
            width: 20px;
            height: 20px;
          }
          